<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zwnsyw.ai_agent_backend.mapper.User.RolePermissionMapper">

    <resultMap id="BaseResultMap" type="com.zwnsyw.ai_agent_backend.entity.User.RolePermission">
        <id property="roleId" column="roleId" jdbcType="BIGINT"/>
        <id property="permissionId" column="permissionId" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        roleId,permissionId
    </sql>
</mapper>
