<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zwnsyw.ai_agent_backend.mapper.User.UserMapper">

    <resultMap id="BaseResultMap" type="com.zwnsyw.ai_agent_backend.entity.User.User">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="userAccount" column="userAccount" jdbcType="VARCHAR"/>
        <result property="userPassword" column="userPassword" jdbcType="VARCHAR"/>
        <result property="userName" column="userName" jdbcType="VARCHAR"/>
        <result property="userGender" column="userGender" jdbcType="TINYINT"/>
        <result property="userAvatar" column="userAvatar" jdbcType="VARCHAR"/>
        <result property="userPhone" column="userPhone" jdbcType="VARCHAR"/>
        <result property="userEmail" column="userEmail" jdbcType="VARCHAR"/>
        <result property="userProfile" column="userProfile" jdbcType="VARCHAR"/>
        <result property="shareCode" column="shareCode" jdbcType="VARCHAR"/>
        <result property="inviteUserId" column="inviteUserId" jdbcType="BIGINT"/>
        <result property="editTime" column="editTime" jdbcType="TIMESTAMP"/>
        <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
        <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,userAccount,userPassword,
        userName,userGender,userAvatar,
        userPhone,userEmail,userProfile,
        shareCode,inviteUserId,editTime,
        createTime,updateTime,isDelete
    </sql>

    <select id="selectByShareCode" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM user
        WHERE shareCode = #{shareCode}
    </select>

    <select id="selectByUserAccount" resultType="com.zwnsyw.ai_agent_backend.entity.User.User">
        SELECT * FROM user WHERE userAccount = #{userAccount}
    </select>

</mapper>